body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    
    background-color: #fff3e0;
}

.quiz-wrapper {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.score-container {
    margin-bottom: 20px;
    font-size: 18px;
    color: #4dbd37;
    font-weight: bold;
}

.quiz-header {
    margin-bottom: 20px;
}

.quiz-header h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li:hover {
    background-color: #ccc;
}

.correct {
    background-color: #4caf50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.progress-container {
    height: 20px;
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    width: 0%;
    transition: width 0.6s ease;
}

.home_reload {
    background-color: #FF6347; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 260px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.home_reload:hover {
    background-color: #FF4500; 
}